.link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 700;
  color: rgb(27, 93, 95);
}

.link:focus {
  color: rgb(167, 110, 182);
}

.link:hover {
  color: rgb(167, 110, 182);
}
